<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267220899220-3b2oq5fmc1bh01ebn234pb2rsibph38i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267220899220-3b2oq5fmc1bh01ebn234pb2rsibph38i</string>
	<key>API_KEY</key>
	<string>AIzaSyBlPrt9MyrP0os2RwgEjt-gQwx8zFglcsI</string>
	<key>GCM_SENDER_ID</key>
	<string>267220899220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.soulfit</string>
	<key>PROJECT_ID</key>
	<string>soulfit-d3dd5</string>
	<key>STORAGE_BUCKET</key>
	<string>soulfit-d3dd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267220899220:ios:3a31785f40f2405a88eb81</string>
</dict>
</plist>